        body {
		margin: 0;
	}
	h1 { margin: 0; }
	#header {
		width: 100%;
		color: #ee1c25;
		/*background-color: #a51218;*/
		/*color: white;*/
		text-align: center;
	}
	#header .bar {
		background-image: url('../images/Border-1.png'); 
		background-repeat: repeat-x;
		height: 29px;
		padding-bottom: 10px;
	}
	#footer {
		width: 100%;
		color: #ee1c25;
		/*background-color: #a51218;*/
		/*color: white;*/
		text-align: center;
	}
	#footer .bar {
		background-image: url('../images/Border-1.png');
		background-repeat: repeat-x;
		height: 29px;
		margin-top: 20px;
	}
	.video {
		width: 540px;
		height: 304px;
		margin: 20px auto;
		background-color: orange;
		overflow: hidden;
	}
	#button-row {
		padding-top:23px;
	}
	.button {
		/* top: -15px; */
		width: 442px;
		margin: 0 20px;
		text-align: center;
		position: relative;
		height: 70px;
		background-color: rgb(255, 230, 48);
		border-radius: 10px;
		z-index: 1;
		font-size: 26px;
		font-weight: bold;
	}
	a {
		text-decoration: none;
	}
	.members { font-size: 13px; margin-right:9px; }
	.button:hover {
		background-color: rgb(252, 252, 0);
	}
	.button span {
		line-height: 70px;
	}
	h1 {
		font-family: arial;
		font-size: 43px;
	}
	.cover { 
		width: 504px;
		height: 378px;
		z-index: 1;
		position: absolute;
	}
	.copy { max-width: 960px; margin: 0 auto; }
	.pull-left { float: left; }
	.pull-right { float: right; }
	.margin-auto { margin: 0 auto; display: block; }
	.clearfix { clear: both; }
